body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.squre{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squre span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radi
   
}